
.roadsterContainer {
    border: black 0.1em solid;
}

.roadsterCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    width: 98%;
    margin: 1em auto;
}

.roadsterText h2 {
    margin-top: 0;
}

.roadsterDetails {
    text-align: justify;
}


.roadsterImage {
    height: 15em;
    width: 90%;
    left: 50%;
    margin: auto;
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    border: black solid 0.1em;
}
