.rocketContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-template-rows: auto;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-self: center;
    margin: 0.2em auto;
  }
  
  .rocketCard {
    justify-self: stretch;
    border: black solid 0.1em;
    min-width: 33%;
    padding-bottom: 2em;
  }

  .rocketHeading {
    text-align: center;
  }
  
  .rocketImage {
    border: black solid 0.1em;
    width: 90%;
    height: 20em;
    background-repeat: no-repeat;
	  background-size: cover;
    background-position: center;
    margin: auto;
  }

  .rocketText {
    width: 90%;
    margin: 0.5em auto;
    text-align: justify;
  }

  .rocketDescription {
    min-height: 150px;
  }